<span style='color: #000'>192 frames</span>	<span style='color: #900'>6,144 KB</span>	<span style='color: #090'>723.03 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />