<span style='color: #000'>197 frames</span>	<span style='color: #900'>8,448 KB</span>	<span style='color: #090'>7,623.91 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />