body{
	border: 1px solid black;
}

header{
	/*border: 1px solid purple;*/
}

nav#logo,nav#nameEm{
	display: inline-block;
}
nav#logo {
	/*border: 1px solid green;*/
	display: inline-block;
	width: 20%;
	margin: 5% 0 5% 3%;
}

nav#nameEm{
	text-align: center;
	/*border: 1px solid green;*/
	/*float: right;*/
}
nav#logo img{
	/*border: 1px dashed black;*/
}

/*h1{
	background-color: red;
}

table{
	background-color: grey;
}

h2{
	background-color: blue;
}

section#central{
	border: 2px solid black;
	margin: 0 5px 0 5px;
}*/