body{
	border: 1px solid black;
	font-size: 14px;
}

section#prueba{
	margin: 25px 15px 0 15px;
}

table#tabla1  td,table#tabla2 td,table#tabla3 td
{
	border: solid 1px #000;
	text-align: center !important;
}

table#tabla1 th,table#tabla2 th,table#tabla3 th
{
	background: #000; /* #333333negro nice*/
    color: #fff;
    text-align: center;
}
table#tabla1 tr,table#tabla2 tr,table#tabla3 tr 
{
	background: #fff;
    color: #000;
}

nav#coti{
	background-color: #CDCDCD;
	color: black;
	text-align: center;
}

nav#coti2{
	background-color: #CDCDCD;/*Gris suave*/
	color: black;
	text-align: center;
}

nav#coti2 label{
	background-color: #FF6C60; /*Rojo suave*/
	color: black;
	text-align: center;
}

table#tabla2,table#tabla3,table#tabla1{
	width: 100%;
}

section#prueba h4{
	background-color: #000;/*#CDCDCD Gris suave*/
	color: white;
	text-align: center;
}

.fondo{
	background-color: #CDCDCD;/*Gris suave*/
	color: black;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

section#arriba,section#arriba{
	border: 1px dashed blue;  
}

.titulos{
	background-color: #000;
	color: white;
	text-align: left;
}

.titulo2{
	border: solid 1px #000;
}

table#cuentas{
	width: 50%;
}